<% content_for :title do %>Github & TravisCI Dashboard<% end %>
<div class="gridster">
    <ul>

        <!-- ROW 1 -->
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="overview" data-view="Text"
                data-title="Repository & Build Status"
                data-text="Github & TravisCI"
                data-moreinfo="Zend Framework 2 Logging Wrapper"
                ></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="eddiejaoude/zf2-logger" data-view="GithubStats"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="ci_travis_eddiejaoude_zf2logger" data-view="Travis" data-unordered="true" data-title="eddiejaoude/zf2-logger"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                  <div data-id="eddiejaoude_zf2logger_activity" data-view="Text"
                        data-title="More information"
                        data-text="Waiting..."
                        data-moreinfo="For You!"
                        ></div>
                </li>

        <!-- ROW 2 -->
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                  <div data-id="overview" data-view="Text"
                        data-title="Repository & Build Status"
                        data-text="Github & TravisCI"
                        data-moreinfo="Backend API"
                        ></div>
                </li>

                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div data-id="dev-confidence/example-backend-api" data-view="GithubStats"></div>
                </li>

                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                  <div data-id="ci_travis_dev_confidence_example_backend_api" data-view="Travis" data-unordered="true" data-title="dev-confidence/example-backend-api"></div>
                </li>

                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                          <div data-id="dev_confidence_example_backend_api_github_activity" data-view="Text"
                                data-title="More information"
                                data-text="Waiting..."
                                data-moreinfo="For You!"
                                ></div>
                        </li>

    </ul>
</div>
