<% content_for :title do %>Github & TravisCI Dashboard<% end %>
<div class="gridster">
    <ul>

        <!-- ROW 1 -->
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="overview" data-view="Text"
                data-title="Repository & Build Status"
                data-text="Github & TravisCI"
                data-moreinfo="Zend Framework 2 Logging Wrapper"
                ></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="eddiejaoude/ministryofjustice-opg-48h-hackathon" data-view="GithubStats"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="ci_travis_eddiejaoude_moj" data-view="Travis" data-unordered="true" data-title="eddiejaoude/ministryofjustice-opg-48h-hackathon"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                  <div data-id="eddiejaoude_moj_activity" data-view="Text"
                        data-title="More information"
                        data-text="Waiting..."
                        data-moreinfo="For You!"
                        ></div>
                </li>
</div>
